@import "tailwindcss";

@theme inline {
  --color-primary: #3713ec;
  --color-bg-dark: #131022;
  --color-card-dark: #1a172c;
  --font-display: "Manrope", sans-serif;
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

html {
  color-scheme: dark;
}

body {
  font-family: var(--font-display);
  background: var(--color-bg-dark);
  color: #f1f5f9;
  overflow-x: hidden;
  min-height: 100vh;
}
